@import "tailwindcss";

:root{
  --g-blue:#052962;
  --g-red:#c70000;
}

.brand-tt {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 900;
}

.headline-tt {
  font-family: "Playfair Display", serif;
  font-weight: 800;
  line-height: 1.15;
}
